.filter-container {
  font-family: "Century Gothic", serif;
  background-color: rgba(255, 239, 193, 0.92);
  border: 2px solid #daca5f;
  border-radius: 4px;
  width: 60%;
  margin: 5px auto;
}
button {
  padding: 4px;
  margin: 4px;
  background-color: #abff67;
  border: 2px solid #5ba65c;
  border-radius: 5px;
  font-family: "Century Gothic", serif;
  font-size: 15px;
  font-weight: 20;
}
.filter-section {
  width: 98%;
  max-width: 700px;
  margin: 10px auto;
}
h2 {
  font-family: "Century Gothic", serif;
  font-weight: 500;
  font-style: italic;
}
@media (max-width: 600px) {
  .filter-container {
    width: 80%;
  }

}
