.container {
  position: relative;
  float: right;
  margin: 5px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  max-width: 161px;
}
.counterDiv {
  width: fit-content;
  padding: 10px;
  margin: 10px;
  transition: 0.2s;
  flex-shrink: 0;

}
button {
  width: 30px;
  height: 30px;
  margin: 5px 2px 5px 10px;
}
