.body {
  display: flex;
  flex-wrap: wrap;
}
.container {
  width: 33%;
}
.empty {
  background-color: #d5cccc;
  border: 2px solid #a4a0a0;
  border-radius: 5px;
  margin: 10px auto;
  padding: 20px;
  width: fit-content;
}
.pageIndex {
  width: fit-content;
  display: inline-block;
}
.paginator {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d2d2d2;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 5px;
}
button, .pageIndex {
  padding: 5px 10px;
  margin: 0 4px;
  background-color: #b7b4b4;
  border-radius: 5px;
  border: 1px solid #c0bfbf;
  font-size: 20px;
}
button:hover {
  background-color: #969494;
}
button:disabled:hover {
  background-color: #b7b4b4;
}
.pageSizer p {
  color: #252424;
  font-family: "Century Gothic", serif;
  font-size: 15px;
  display: inline-block;
  margin: 5px;
}
.filter {
  margin: 15px auto;
  cursor: pointer;
  font-family: "Century Gothic", serif;
  padding: 2px 10px;
  font-size: 20px;
}
.filter p {
  font-family: "Century Gothic", serif;
}
.filter-container {
  display: flex;
  justify-content: center;
}
@media (max-width: 900px) {
  .container {
    width: 49%;
  }
}
@media (max-width: 610px) {
  .container {
    width: 100%;
  }

}

