.flex-container {
  display: flex;
  background-color: #d5cccc;
  border: 3px solid gray;
  margin: 5px 0 5px 5px;
  justify-content: space-around;
  width: fit-content;
}
.container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: flex-end;
}
.text {
  float: right;
}
